{% extends "nav/nav.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Crear una cuenta</h2>
    <div class="card shadow w-50 mx-auto">
        <div class="card-body">
            <form method="POST" novalidate>
                {% csrf_token %}
                
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="text-danger medium">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text text-muted">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
